In [294]:
import os
import glob
import pandas as pd 
import geopandas as gpd
from geopandas import GeoDataFrame
import os
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pylab as plt
import math


from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.tsa.statespace as smstate

from statsmodels.graphics.api import qqplot
 
pd.options.mode.chained_assignment = None
%matplotlib inline

In [295]:
path = "/Users/amber/Documents/ML/Projects/dataset/saleprice"

In [296]:
os.chdir("/Users/amber/Documents/ML/Projects/dataset/saleprice")

#### Since data that download online are seperated in different files on different year and borough. Lets merge them together in same file first

### Brooklyn

In [297]:
#Combine hoiusing sale data from 2010 to 2018 in one file 
bk_list = []
# Used separate skiprows values since Excel files were formatted slightly differently
for i in range(2010, 2016):
    temp_df = pd.read_excel('{}/{}_brooklyn.xls'.format(path, i), skiprows=3)
    temp_df.rename(columns=lambda x: x.strip(), inplace=True)
    
    bk_list.append(temp_df)

bk_df = pd.concat(bk_list)
bk_df.shape

/Users/amber/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

(139437, 42)

In [298]:
bk_df.to_csv("brooklyn_prices_2010-16.csv")

### Manhattan

In [299]:
man_list = []
# Used separate skiprows values since Excel files were formatted slightly differently
for i in range(2010, 2016):
    temp_df = pd.read_excel('{}/{}_manhattan.xls'.format(path, i), skiprows=3)
    temp_df.rename(columns=lambda x: x.strip(), inplace=True)
    
    man_list.append(temp_df)

man_df = pd.concat(bk_list)
man_df.shape

/Users/amber/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

(139437, 42)

In [300]:
man_df.to_csv("manhattan_prices_2010-16.csv")

### Queens

In [301]:
que_list = []
# Used separate skiprows values since Excel files were formatted slightly differently
for i in range(2010, 2016):
    temp_df = pd.read_excel('{}/{}_queens.xls'.format(path, i), skiprows=3)
    temp_df.rename(columns=lambda x: x.strip(), inplace=True)
    
    que_list.append(temp_df)

que_df = pd.concat(que_list)
que_df.shape

/Users/amber/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

(142658, 42)

In [302]:
que_df.to_csv("queens_prices_2010-16.csv")

### Bronx

In [303]:
bro_list = []
# Used separate skiprows values since Excel files were formatted slightly differently
for i in range(2010, 2016):
    temp_df = pd.read_excel('{}/{}_queens.xls'.format(path, i), skiprows=3)
    temp_df.rename(columns=lambda x: x.strip(), inplace=True)
    
    bro_list.append(temp_df)

bro_df = pd.concat(bro_list)
bro_df.shape

/Users/amber/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

(142658, 42)

In [304]:
bro_df.to_csv("bronx_prices_2010-16.csv")

### statenisland

In [305]:
stan_list = []
# Used separate skiprows values since Excel files were formatted slightly differently
for i in range(2010, 2016):
    temp_df = pd.read_excel('{}/{}_queens.xls'.format(path, i), skiprows=3)
    temp_df.rename(columns=lambda x: x.strip(), inplace=True)
    
    stan_list.append(temp_df)

stan_df = pd.concat(stan_list)
stan_df.shape

/Users/amber/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

(142658, 42)

In [328]:
stan_df.to_csv("statenisland_prices_2010-16.csv")

#### convert data from 5 borough to one dataset

In [335]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [336]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv("combined_csv.csv", index=False, encoding='utf-8-sig')

In [337]:
data = pd.read_csv('combined_csv.csv', dtype={'text': bytes})
data.head()

,Unnamed: 0,ADDRESS,APARTMENT NUMBER,BLOCK,BOROUGH,BUILDING CLASS AT PRESENT,BUILDING CLASS AT TIME OF SALE,BUILDING CLASS CATEGORY,Building Class Category is based on Building Class at Time of Sale.,COMMERCIAL UNITS,...,Unnamed: 20,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,YEAR BUILT,ZIP CODE
0,0,21-08 81ST STREET,,976.0,4.0,A5,A5,01 ONE FAMILY HOMES,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.0,11370.0
1,1,21-18 81ST STREET,,976.0,4.0,A5,A5,01 ONE FAMILY HOMES,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.0,11370.0
2,2,21-20 81ST STREET,,976.0,4.0,A5,A5,01 ONE FAMILY HOMES,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.0,11370.0
3,3,21-36 81ST STREET,,976.0,4.0,A5,A5,01 ONE FAMILY HOMES,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.0,11370.0
4,4,21-56 81ST ST,,976.0,4.0,A5,A5,01 ONE FAMILY HOMES,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.0,11370.0

In [338]:
data.columns

Index(['Unnamed: 0', 'ADDRESS', 'APARTMENT NUMBER', 'BLOCK', 'BOROUGH',
       'BUILDING CLASS AT PRESENT', 'BUILDING CLASS AT TIME OF SALE',
       'BUILDING CLASS CATEGORY',
       'Building Class Category is based on Building Class at Time of Sale.',
       'COMMERCIAL UNITS', 'EASE-MENT', 'GROSS SQUARE FEET',
       'LAND SQUARE FEET', 'LOT', 'NEIGHBORHOOD', 'RESIDENTIAL UNITS',
       'SALE DATE', 'SALE PRICE', 'TAX CLASS AT PRESENT',
       'TAX CLASS AT TIME OF SALE', 'TOTAL UNITS', 'Unnamed: 1', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 2', 'Unnamed: 20', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'YEAR BUILT', 'ZIP CODE'],
      dtype='object')

In [339]:
# Convert five years data into csv file

data_price=data.drop(['Unnamed: 0','Unnamed: 1', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 2', 'Unnamed: 20', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'], axis=1)
data_price.head()

,ADDRESS,APARTMENT NUMBER,BLOCK,BOROUGH,BUILDING CLASS AT PRESENT,BUILDING CLASS AT TIME OF SALE,BUILDING CLASS CATEGORY,Building Class Category is based on Building Class at Time of Sale.,COMMERCIAL UNITS,EASE-MENT,...,LOT,NEIGHBORHOOD,RESIDENTIAL UNITS,SALE DATE,SALE PRICE,TAX CLASS AT PRESENT,TAX CLASS AT TIME OF SALE,TOTAL UNITS,YEAR BUILT,ZIP CODE
0,21-08 81ST STREET,,976.0,4.0,A5,A5,01 ONE FAMILY HOMES,NaN,0.0,,...,9.0,AIRPORT LA GUARDIA,1.0,2010-02-24,0.0,1,1.0,1.0,1950.0,11370.0
1,21-18 81ST STREET,,976.0,4.0,A5,A5,01 ONE FAMILY HOMES,NaN,0.0,,...,14.0,AIRPORT LA GUARDIA,1.0,2010-01-21,535000.0,1,1.0,1.0,1950.0,11370.0
2,21-20 81ST STREET,,976.0,4.0,A5,A5,01 ONE FAMILY HOMES,NaN,0.0,,...,15.0,AIRPORT LA GUARDIA,1.0,2010-12-01,475000.0,1,1.0,1.0,1950.0,11370.0
3,21-36 81ST STREET,,976.0,4.0,A5,A5,01 ONE FAMILY HOMES,NaN,0.0,,...,23.0,AIRPORT LA GUARDIA,1.0,2010-06-11,0.0,1,1.0,1.0,1950.0,11370.0
4,21-56 81ST ST,,976.0,4.0,A5,A5,01 ONE FAMILY HOMES,NaN,0.0,,...,33.0,AIRPORT LA GUARDIA,1.0,2010-09-22,0.0,1,1.0,1.0,1950.0,11370.0

In [340]:
data_price.columns

Index(['ADDRESS', 'APARTMENT NUMBER', 'BLOCK', 'BOROUGH',
       'BUILDING CLASS AT PRESENT', 'BUILDING CLASS AT TIME OF SALE',
       'BUILDING CLASS CATEGORY',
       'Building Class Category is based on Building Class at Time of Sale.',
       'COMMERCIAL UNITS', 'EASE-MENT', 'GROSS SQUARE FEET',
       'LAND SQUARE FEET', 'LOT', 'NEIGHBORHOOD', 'RESIDENTIAL UNITS',
       'SALE DATE', 'SALE PRICE', 'TAX CLASS AT PRESENT',
       'TAX CLASS AT TIME OF SALE', 'TOTAL UNITS', 'YEAR BUILT', 'ZIP CODE'],
      dtype='object')

###  Only keep the record with valid price and land area

In [341]:
data_price.columns = data_price.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [342]:
ind=(data_price.sale_price>50000)&(data_price.gross_square_feet>300)&(data_price.land_square_feet>300)&(data_price.residential_units>0)
ind.head()

0    False
1     True
2     True
3    False
4    False
dtype: bool

In [343]:
data_price_new=data_price.loc[ind]
data_price_new.size

5899036

In [344]:
data_price_new.columns

Index(['address', 'apartment_number', 'block', 'borough',
       'building_class_at_present', 'building_class_at_time_of_sale',
       'building_class_category',
       'building_class_category_is_based_on_building_class_at_time_of_sale.',
       'commercial_units', 'ease-ment', 'gross_square_feet',
       'land_square_feet', 'lot', 'neighborhood', 'residential_units',
       'sale_date', 'sale_price', 'tax_class_at_present',
       'tax_class_at_time_of_sale', 'total_units', 'year_built', 'zip_code'],
      dtype='object')

### Explore sale data with sale time in each BBL, only keep the feature that related

In [386]:
bbl_data = data_price_new[['sale_date','sale_price','block','borough','lot','gross_square_feet']]
bbl_data.head()

     sale_date  sale_price    block  borough   lot  gross_square_feet
1   2010-01-21    535000.0    976.0      4.0  14.0             1224.0
2   2010-12-01    475000.0    976.0      4.0  15.0             1836.0
7   2010-02-24    110000.0  15839.0      4.0  61.0             1040.0
17  2010-02-26    369274.0  16025.0      4.0   9.0             1471.0
18  2010-03-04    130000.0  16026.0      4.0  55.0             1407.0

In [387]:
bbl_data.isnull().values.any()

False

In [388]:
#data_price.dropna(axis =0, inplace = True)

In [389]:
# Merge sale data with pluto data( because they both have BBL) 

pluto =  GeoDataFrame.from_file('pluto.geojson')
pluto.size

16344

In [390]:
bbl_data.dtypes

sale_date             object
sale_price           float64
block                float64
borough              float64
lot                  float64
gross_square_feet    float64
dtype: object

In [391]:
bbl_data[['sale_price','block','borough','lot','gross_square_feet']] =bbl_data[['sale_price','block','borough','lot','gross_square_feet']].astype(int)

In [392]:
def format_bbl(parcel):
    borough = str(parcel['borough'])
    block = str(parcel['block'])
    lot = str(parcel['lot'])
    return int(borough + block.zfill(5) + lot.zfill(4))

In [393]:
# Create bbls
bbl_data['bbl'] = bbl_data.apply(format_bbl, axis=1)
bbl_data.size

1876966

In [394]:
#All the housing sale data with bbl label is 
bbl_data.to_csv("sale_prices_bbl.csv")

In [395]:
#bbl_prices = bbl_data[bbl_data.apply(lambda parcel: parcel['bbl'] in pluto['bbl'].values, axis=1)]
#bbl_prices.size

In [396]:
#new = pd.merge(bbl_prices, pluto, left_on = 'bbl', right_on = 'bbl', how = 'inner')
# new.